{% load static %}
<li>
  <span class="language-selector-wrapper">Language :</span>
  <div class="ht-language-trigger">
    <span>English</span>
  </div>
  <div class="language ht-language">
    <ul class="ht-setting-list">
      <li class="active">
        <a href="#"
          ><img
            style="width: 20px; height: auto"
            src="{% static 'images/menu/flag-icon/1.jpg' %}"
            alt=""
          />English</a
        >
      </li>
      <li>
        <a href="#"
          ><img
            style="width: 20px; height: auto"
            src="{% static 'images/menu/flag-icon/Flag_of_Bangladesh.svg' %}"
            alt=""
          />Bangla</a
        >
      </li>
    </ul>
  </div>
</li>
